<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
  </head>
  <body>
    <%= flash[:notice] %>
    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>
    <p>
      <strong>Body:</strong>
      <%= @book.body %>
    </p>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <a class="back" href="/books">Back</a>

  </body>
</html>
